body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	background-color: rgb(55, 56, 57);
	color: rgb(201, 199, 189);
}

.app-header {
	width: 100%;
}

.app-header h1 {
	font-size: 296px;
	font-family: monospace;
	font-style: italic;
	line-height: 1;
	margin: 20px auto;
	text-align: center;
	color: rgb(201, 199, 189);
}

.profile-container {
	display: flex;
	height: 700px;
}
.app-profile {
	width: 50%;
	display: inline-block;
	position: relative;
	height: 700px;
	box-sizing: border-box;
}

.profile-image-container {
	position: absolute;
}

.profile-on-left {
	right: 0;
}

.profile-image-container {
	transition: transform 2s;
	border-radius: 16px;
	z-index: 2;
}

.app-profile-on-left:hover .profile-image-container {
	transform: translateX(-300px);
	transition: transform 2s;
}

.app-profile-on-right:hover .profile-image-container {
	transform: translateX(300px);
}

.profile-image-container img {
	height: 700px;
	margin: auto;
	border-radius: 16px;
}

.profile-info-container {
	z-index: 1;
	padding: 50px 10px;
}

.profile-info-container h3 a {
	text-decoration: none;
	color: rgb(201, 199, 189);
}

.profile-info-container h2 {
	cursor: pointer;
}

.info-container-left {
	position: absolute;
	right: 0;
}

.showcase-section {
	width: calc(100% - 20px);
	margin-top: 30px;
	box-sizing: border-box;
}

.showcase-section label {
	font-size: 36px;
	margin: 20px 0px 20px 240px;
	display: block;
}

.article-showcase {
	display: flex;
	flex-direction: row;
	
	overflow: scroll;
	width: 100%;
}

.article-showcase {
	-ms-overflow-style: none; 
	scrollbar-width: none;
}
.article-showcase::-webkit-scrollbar {
	display: none; 
}
.application-showcase {
	display: flex;
	flex-direction: row;
	overflow: auto;
	width: 100%;
	margin: 20px 10px 40px;
}

.application-showcase {
	-ms-overflow-style: none;
	scrollbar-width: none; 
}
.application-showcase::-webkit-scrollbar {
	display: none; 
}


.article-element {
	margin: 5px 20px;
	position: relative;
	width: auto;
	height: 300px;
	overflow: hidden;
	display: inline-block ;
	flex-shrink: 0;
}

.article-element img {
	width: auto;
	height: 300px;
}

.article-element:hover img {
	animation-name: zoomOut;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.application-element {
	margin: 5px 20px;
	position: relative;
	width: auto;
	height: 300px;
	overflow: hidden;
	display: inline-block;
	flex-shrink: 0;
}

.application-element img {
	width: auto;
	height: 300px;
}

.application-element:hover img {
	animation-name: zoomOut;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.hover-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 24px;
	text-align: center;
	justify-content: center;
	animation-name: displayNot;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	background-color: rgba(0, 0, 0, 0.7);
}
@keyframes display {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes displayNot {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes zoomIn {
	from {
		transition: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

@keyframes zoomOut {
	from {
		transform: scale(1.1);
	}
	to {
		transition: scale(1);
	}
}
